#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define colemak_dh 0
#define raise 1
#define lower 2
#define combo 3
#define game 4
#define game2 5
#define innactive 6

&lt {
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
};

/ {
        behaviors {
                td0: tap_dance_caps {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp RSHIFT>, <&kp CAPS>;
                };

                lhrm: left_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>; // Right-hand key positions for cross-hand activation
                };

                rhrm: right_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>; // Left-hand key positions for cross-hand activation
                };
        };

        macros {
                undo: undo {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp Z>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                redo: redo {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp Y>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                copy: copy {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp C>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                cut: cut {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp X>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                paste: paste {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp V>
                        , <&macro_release &kp LCTRL>
                        ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                colemak_dh {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  | Bspc |
// | Ctrl |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |  '   |
// | Shft |  Z  |  X  |  C  |  d  |  v  |   |  k  |  h  |  ,  |  .  |  /  | Shft |
//                    | Gui | Rse | Ent |   | Spc | Lwr | Alt |
                        display-name = "colemak";
                        bindings = <
   &kp TAB        &kp Q &kp W &kp F    &kp P &kp B     &kp J     &kp L &kp U     &kp Y   &kp SEMI &kp BSPC
   &kp LCTRL      &kp A &kp R &kp S    &kp T &kp G     &kp M     &kp N &kp E     &kp I   &kp O    &kp SQT
   &mt LSHIFT ESC &kp Z &kp X &kp C    &kp D &kp V     &kp K     &kp H &kp COMMA &kp DOT &kp FSLH &td0
                              &kp LGUI &mo 1 &kp RET   &kp SPACE &mo 2 &kp RALT
                        >;
                };

                raise {
// -----------------------------------------------------------------------------------------
// |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  "|" |
// |  ~   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |   \  |
// |      |  -  |  _  |  =  |  +  |     |   |     |  [  |  ]  |  {  |  }  |      |
//                    |     | ___ |     |   |     | Cmb |     |
                        display-name = "num";
                        bindings = <
   &kp GRAVE &kp N1   &kp N2 &kp N3   &kp N4   &kp N5      &kp N6    &kp N7   &kp N8   &kp N9   &kp N0   &kp PIPE
   &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS &kp STAR &kp RPAR &kp LPAR &kp BSLH
   &none     &none    &none  &none    &none    &none       &none     &kp LBKT &kp RBKT &kp LBRC &kp RBRC &none
                             &none    &none    &none       &none     &mo 3    &none
                        >;
                };

                 lower {
// -----------------------------------------------------------------------------------------
// | Tab  | F1  | F2  | F3  | F4  |     |   | Pgu | Hme | Up  | End | Del | Bspc |
// | Ctrl | F5  | F6  | F7  | F8  |     |   | Pgd | Lft | Dwn | Rt  | Ins | Prnt |
// | Shft | F9  | F10 | F11 | F12 |     |   | Red | Und | Cut | Cpy | Pst |      |
//                    |     | Cmb |     |   |     | ___ |     |
                        display-name = "sym";
                        bindings = <
   &trans     &kp F1 &kp F2  &kp F3  &kp F4  &none   &kp PG_UP &kp HOME &kp UP   &kp END   &kp DEL &trans
   &trans     &kp F5 &kp F6  &kp F7  &kp F8  &none   &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &kp INS &kp PSCRN
   &kp LSHIFT &kp F9 &kp F10 &kp F11 &kp F12 &none   &redo     &undo    &cut     &copy     &paste  &none
                           &none   &none   &none   &none     &none    &none
                        >;
                };

                combo {
// -----------------------------------------------------------------------------------------
// |      |     | PRV | P/P | NXT |     |   |     |     |     |     |     |      |
// |      |     | MTE | VLD | VLU |     |   | btc | bt1 | bt2 | bt3 | bt4 |  bt5 |
// |      |     | RWD |     | FSF |     |   | btu |     |     |     |     |      |
//                    |     | ___ |     |   |     | ___ |     |
                        display-name = "media";
                        bindings = <
   &none &none &kp C_PREV &kp C_PP     &kp C_NEXT   &none   &none          &none        &none        &none        &none        &none
   &none &none &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none   &bt BT_CLR     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
   &none &none &kp C_RW   &none        &kp C_FF     &none   &studio_unlock &none        &none        &none        &none        &none
                          &none        &none        &none   &none          &none        &none
                        >;
                };

                game {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | game |
//               | TAB | ALT/gme2 | SPC |   | ENT | RSE  | ALT |
                        display-name = "game";
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E   &kp R      &kp T       &kp Y   &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT &kp A &kp S &kp D   &kp F      &kp G       &kp H   &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C   &kp V      &kp B       &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH &tog 6
                         &kp TAB &lt 7 LALT &kp SPACE   &kp RET &none  &none
                        >;
                };

                game2 {
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |     |     |     |     |     |      |
// |      |  6  |  7  |  8  |  9  |  0  |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     | ___ |   |     |     |     |
                        display-name = "game2";
                        bindings = <
   &none &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &none &none &none &none &none &none
   &none &kp N6 &kp N7 &kp N8 &kp N9 &kp N0   &none &none &none &none &none &none
   &none &none  &none  &none  &none  &none    &none &none &none &none &none &none
                       &none  &none  &none    &none &none &none
                        >;
                };
        };
};
