#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define colemak_dh 0
#define num 1
#define sym 2
#define nav 3
#define media 4
#define function 5
#define game 6
#define game2 7
#define innactive 8

&lt {
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
};

/ {
        behaviors {
                td0: tap_dance_0 {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp LSHIFT>, <&kp CAPS>;
                };

                lh_pht: left_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <350>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>; // Right-hand key positions for cross-hand activation
                };

                rh_pht: right_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <350>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>; // Left-hand key positions for cross-hand activation
                };
        };

        macros {
                undo: undo {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp Z>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                redo: redo {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp Y>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                copy: copy {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp C>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                cut: cut {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp X>
                        , <&macro_release &kp LCTRL>
                        ;
                };

                paste: paste {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LCTRL>
                        , <&macro_tap &kp V>
                        , <&macro_release &kp LCTRL>
                        ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                colemak_dh {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  | BSPC |
// | TAB  |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |  '   |
// | SHFT |  Z  |  X  |  C  |  d  |  v  |   |  k  |  h  |  ,  |  .  |  /  | SHFT |
//            | ESC | TAB/nav | ENT/num |   | SPC/sym | BSPC/med | DEL/fun |
                        bindings = <
   &kp ESC  &kp Q           &kp W           &kp F            &kp P            &kp B       &kp J &kp L             &kp U            &kp Y           &kp SEMI        &kp BSPC
   &kp TAB  &lh_pht LGUI A  &lh_pht LALT R  &lh_pht LCTRL S  &lh_pht LSHFT T  &kp G       &kp M &rh_pht RSHIFT N  &rh_pht RCTRL E  &rh_pht RALT I  &rh_pht RGUI O  &kp SQT
   &td0     &kp Z           &kp X           &kp C            &kp D            &kp V       &kp K &kp H             &kp COMMA        &kp DOT         &kp FSLH        &kp RSHIFT
                                            &kp ESC          &lt 3 TAB        &lt 1 RET   &lt 2 SPACE             &lt 4 BSPC       &lt 5 DEL
                        >;
                };

                num {
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// |      |  +  |  -  |  *  |  /  |  =  |   |     |  4  |  5  |  6  |  .  |      |
// |      |     |     |     |     |     |   |     |  1  |  2  |  3  |  ,  |      |
//                    |     |     | ___ |   | SPC | BSCP | DEL |
                        bindings = <
   &none  &kp N1   &kp N2    &kp N3   &kp N4   &kp N5     &kp N6    &kp N7   &kp N8 &kp N9 &kp N0     &trans
   &none  &kp PLUS &kp MINUS &kp STAR &kp FSLH &kp EQUAL  &none     &kp N4   &kp N5 &kp N6 &kp DOT    &none
   &none  &none    &none     &none    &none    &none      &none     &kp N1   &kp N2 &kp N3 &kp COMMA  &none
                             &none    &none    &none      &kp SPACE &kp BSCP &kp DEL
                        >;
                };

                 sym {
// -----------------------------------------------------------------------------------------
// |  `   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// |  ~   | "|" |  {  |  [  |  (  |  /  |   |  \  |  )  |  ]  |  }  |  _  |  +   |
// |      |     |     |     |     |     |   |     |     |  <  |  >  |  -  |  =   |
//                    |     |     | ENT |   | ___ |     |     |
                        bindings = <
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
                      &none &none &none     &none &none &none
                        >;
                };

                nav {
// -----------------------------------------------------------------------------------------
// | ESC  | F1  | F2  | F3  | F4  |     |   | PGU | HME | UP  | END | DEL | BSPC |
// | TAB  | F5  | F6  | F7  | F8  |     |   | PGD | LFT | DWN | RT  | INS |      |
// | SHFT | F9  | F10 | F11 | F12 |     |   | RED | UND | CUT | CPY | PST |      |
//                    |     | ___ |     |   | SPC | BSCP | DEL |
                        bindings = <
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
                      &none &none &none     &none &none &none
                        >;
                };

                media {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
                      &none &none &none     &none &none &none
                        >;
                };

                function {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
                      &none &none &none     &none &none &none
                        >;
                };

                game {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | game |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &tog 6
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };

                game2 {
// -----------------------------------------------------------------------------------------
// |      |  6  |  7  |  8  |  9  |  0  |   |     |     |     |     |     |      |
// |      |  1  |  2  |  3  |  4  |  5  |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     | ___ |   |     |     |     |
                        bindings = <
   &none  &kp N6 &kp N7 &kp N8 &kp N9 &kp N0     &none &none &none &none &none &none
   &none  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5     &none &none &none &none &none &none
   &none  &none  &none  &none  &none  &none      &none &none &none &none &none &none
                           &none &none &none     &none &none &none
                        >;
                };

                innactive {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
   &none  &none &none &none &none &none     &none &none &none &none &none &none
                      &none &none &none     &none &none &none
                        >;
                };
        };
};
